behave==1.2.6
colorama==0.4.6
coverage==7.8.0
execnet==2.1.1
iniconfig==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
networkx==3.4.2
packaging==25.0
parse==1.20.2
parse_type==0.6.4
pluggy==1.5.0
Pygments==2.19.1
pygtrie==2.5.0
pytest==8.3.5
pytest-xdist==3.6.1
rich==14.0.0
ruff==0.11.7
six==1.17.0
textdistance==4.6.3
